.homepage {
 margin: 0;
 /*padding-top: 1000px;*/
 background-image: url(../sunrise.jpg);
 background-size: 1400px 800px;
 background-repeat:no-repeat;
 /*display: compact;*/
}
#positivelist {
    border-style: inset;
    border-color: #0084A6;
    border-width: 10px;
}

#negativelist {
    border-style: inset;
    border-color: #ED4D09;
    border-width: 10px;
}

h1 {
    color: black;
    font-family: 'Voltaire', sans-serif;
}
.header {
    color: black;
    font-family: 'Voltaire', sans-serif;
    font-size: 35px;
}

.header1 {
    color: black;
    font-family: 'Voltaire', sans-serif;
    font-size: 50px;
}    

.typeahead {
    background-color: white;
    color: white;
    font-family: 'Voltaire', sans-serif;

}
input[type="text"] {
  width: 350px;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1.5px solid #cccccc;
  outline: none;
  color: black;
  font-size: 14px;
  font-family: 'Voltaire', sans-serif;
  margin-bottom: 50px;
}
a {
    color: black;
    font-family: 'Voltaire', sans-serif;
    font-size: 16px;
}
h3 {
    font-family: 'Voltaire', sans-serif;
    font-size: 35px;
}

.stocktext {
    font-family: 'Voltaire', sans-serif;
    font-size: 40px;
}


#currentprice{
    font-size: 80px;
    background: transparent;
    color: white;
    font-family: 'Voltaire', sans-serif;

}
.ticker {
    font-size: 100px;
    background: transparent;
    color: white;
    font-family: 'Voltaire', sans-serif;

}

#button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 4px 4px 21px #666666;
  font-family: 'Voltaire', sans-serif;
  color: #ffffff;
  font-size: 14px;
  background: grey;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}

#button:hover {
  background: black;
  text-decoration: none;
}

.xaxis text{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: red;
    border-color: red;
}
.yaxis text{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: red;

}

#apology {
    color: black;
}