{% extends 'base.html' %}
{% block content %}





<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" id="title">

    <div class="row">
        <div class="text-center">
            <span class="header1">Company Climate for {{ first_company_name }}</span><br>
          </div>
    </div>
    <div class="row">
          <div class="text-center">
            <span class="header">As of {{ now }}</span><br>
            <span class="header">{{ first_industry }} : {{first_sector}}</span>

        </div>
      </div>
    </div>
     <div class="row">
    <div class="col-lg-12" id="stockinfo">

    <div class="row">
      <div class="col-lg-6">
        <span class="stocktext">Current Stock Price:</span>
        <span id='currentprice1'></span><br>
      </div>
          <div class="col-lg-6">
             <span class="stocktext">Ticker Code:</span><span class='ticker'>{{ tickerone }}</span>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" id="results">
    <div class = "row">
        <div id="positivelist" class="col-md-4">
          <span class="introtext">Lookin' Good</span><br>
            {% for value in first_positive_values%}
            <a href="{{ first_pos_results[value][1] }}">{{ first_pos_results[value][2] }}</a>
            <span class="text">{{ first_pos_results[value][0] }}</span><br>
            {% endfor %}
        </div>

        <div class="col-md-4"><br><br>
            <canvas id="donutChart1"></canvas>
        </div>

        <div id = "negativelist" class="col-md-4">
         <span class="introtext">Lookin' Rough</span><br>
            {% for value in first_negative_values %}
            <a href="{{ first_neg_results[value][1]}}">{{ first_neg_results[value][2] }}</a>
            <span class="text">{{ first_neg_results[value][0] }}</span><br>
            {% endfor %}

        </div>
    </div>
  </div>
</div>
</div>





<script>
// Below creates a donut graph using charts.js

var options = { responsive: true };

var ctx_donut = $("#donutChart1").get(0).getContext("2d");

var sentiment_data = [
            {
                value: {{  a1  }},
                color: "#46BFBD",
                highlight: "#46BFBD",
                label: "Positive"
            },
            {
                value: {{  b1  }},
                color: "#F7464A",
                highlight: "#F7464A",
                label: "Negative"
            },
            {
                value: {{  c1  }},
                color: "#C0C0C0",
                highlight: "#C0C0C0",
                label: "Neutral"
            }
        ];

var myDonutChart = new Chart(ctx_donut).Doughnut(sentiment_data, options);

function replacePrice1(results) {
    var price = results;
    $('#currentprice1').html(price);
}

function getStockprice1 () {
    $.get('/firstcurrentstockprice', replacePrice1);
}

getStockprice1();
setInterval(getStockprice1, 3000);


</script>







<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" id="title">

    <div class="row">
        <div class="text-center">
            <span class="header1">Company Climate for {{ second_company_name }}</span><br>
          </div>
    </div>
    <div class="row">
          <div class="text-center">
            <span class="header">As of {{ now }}</span><br>
            <span class="header">{{ second_industry }} : {{second_sector}}</span>

        </div>
      </div>
    </div>
     <div class="row">
    <div class="col-lg-12" id="stockinfo">

    <div class="row">
      <div class="col-lg-6">
        <span class="stocktext">Current Stock Price:</span>
        <span id='currentprice2'></span><br>
      </div>
          <div class="col-lg-6">
             <span class="stocktext">Ticker Code:</span><span class='ticker'>{{ tickertwo }}</span>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" id="results">
    <div class = "row">
        <div id="positivelist" class="col-md-4">
          <span class="introtext">Lookin' Good</span><br>
            {% for value in second_positive_values%}
            <a href="{{ second_pos_results[value][1] }}">{{ second_pos_results[value][2] }}</a>
            <span class="text">{{ second_pos_results[value][0] }}</span><br>
            {% endfor %}
        </div>

        <div class="col-md-4"><br><br>
            <canvas id="donutChart2"></canvas>
        </div>

        <div id = "negativelist" class="col-md-4">
         <span class="introtext">Lookin' Rough</span><br>
            {% for value in second_negative_values %}
            <a href="{{ second_neg_results[value][1]}}">{{ second_neg_results[value][2] }}</a>
            <span class="text">{{ second_neg_results[value][0] }}</span><br>
            {% endfor %}

        </div>
    </div>
  </div>
</div>
</div>
</body>







<script>
// Below creates a donut graph using charts.js

var options = { responsive: true };

var ctx_donut = $("#donutChart2").get(0).getContext("2d");

var sentiment_data = [
            {
                value: {{  a2  }},
                color: "#46BFBD",
                highlight: "#46BFBD",
                label: "Positive"
            },
            {
                value: {{  b2  }},
                color: "#F7464A",
                highlight: "#F7464A",
                label: "Negative"
            },
            {
                value: {{  c2  }},
                color: "#C0C0C0",
                highlight: "#C0C0C0",
                label: "Neutral"
            }
        ];

var myDonutChart = new Chart(ctx_donut).Doughnut(sentiment_data, options);

function replacePrice2(results) {
    var price = results;
    $('#currentprice2').html(price);
}

function getStockprice2 () {
    $.get('/secondcurrentstockprice', replacePrice2);
}

getStockprice2();
setInterval(getStockprice2, 3000);

</script>
{% endblock %}