{% extends 'base.html' %}
{% block content %}

<!-- <h1>Company Climate</h1>
<form action="/results" method="GET">
    SEARCH:
<div id="the-basics">
  <input class="typeahead" type="text" placeholder="Company Name" name="search" REQUIRED>
  <input type="submit" value="Get my results!">
</div>
</form>
<a href="/compareform">Compare companies</a> -->
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Company Climate</h1>
            <form action="/results" method="GET">
                <span id="searchtext">Search:</span>
            <div id="the-basics">
              <input class="typeahead" type="text" placeholder="Company Name" name="search" REQUIRED>
              <input id="button" type="submit" value="Get my results!">
            </div>
            <br><br><br><br><br><br><br>
            <span id="searchtext">Would you like to compare two companies?</span>
            </form>
            <a href="/compareform">Compare companies</a>
        </div>
    </div>
</div>


<script>
src="/static/js/homesearch.js"
</script>
{% endblock %}